.wrapper{
    display: flex;
    gap: 20px;
    width: 300px;     /* important! le même size pour les cards  */
    overflow-x: scroll;     /* pour pouvoir scroller les cards  */
    scroll-snap-type: x mandatory;
}

.card{
    scroll-snap-align: center;
    box-sizing: border-box;
    padding: 20px 30px;
    flex-shrink: 0;
    width: 300px;      /* important! le même size que son wrapper  */
    background-color: white;
    border-radius: 14px;
    text-align: center;
}